@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


.arsenal-regular {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .arsenal-bold {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arsenal-regular-italic {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arsenal-bold-italic {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
